@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Slab&display=swap');

.bookTitle {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.bookCategory {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ba5ad;
}

.author {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.875rem;
  color: #4386bf;
  font-weight: 300;
}

.btn {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.875rem;
  color: #4386bf;
  font-weight: 300;
  background-color: #fff;
  border: none;
  border-left: 1px solid #9ba5ad;
  margin-right: 10px;
  padding-left: 10px;
  margin-top: 15px;
}

.uptadeBtn {
  letter-spacing: 0.5px;
  font-family: 'Roboto Slab', sans-serif;
  background-color: #4386bf;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 10px;
}

.chapterText1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.chapterText2 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #9ba5ad;
}
